{% extends 'frontend/base.html' %}

{% load static %}

{% load crispy_forms_tags %}

{% block title %} 
    Login
{% endblock title %}

{% block extra-stylesheets %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles/login.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap" rel="stylesheet">
	<script src="https://kit.fontawesome.com/a81368914c.js"></script>
{% endblock extra-stylesheets %}

{% block body %}

<img class="wave" src="{% static 'images/svg/wave.png' %}">
	<div class="container">
		<div class="img">
			<img src="{% static 'images/svg/bg.svg' %}">
		</div>
		<div class="login-content">
			<form action="{% url 'login' %}" method="POST">
                {% csrf_token %}
				<img src="{% static 'images/svg/avatar.svg' %}">
				<h2 class="title">Dashboard</h2>
           		<div class="input-div one">
           		   <div class="i">
           		   		<i class="fas fa-user"></i>
           		   </div>
           		   <div class="div">
           		   		<h5>Username</h5>
           		   		<input type="text" name="username" class="input" id="username">
           		   </div>
           		</div>
           		<div class="input-div pass">
           		   <div class="i"> 
           		    	<i class="fas fa-lock"></i>
           		   </div>
           		   <div class="div">
           		    	<h5>Password</h5>
           		    	<input type="password" name="password" class="input" id="password">
            	   </div>
            	</div>
                <!--<a href="#">Forgot Password?</a> -->
                {% if messages %}
                    <i class="fas fa-exclamation-triangle text-danger">
                        {% for message in messages %}
                            <p {% if message.tags %} class="{{ message.tags }}"{% endif %}> {{ message }}</p>
                        {% endfor %}
                    </i>
                {% endif %}
            	<input type="submit" class="btn" value="Login">
            </form>            
        </div>
    </div>
    <script type="text/javascript" src="{% static 'js/login.js' %}"></script>

{% endblock body %}