{% extends 'frontend/base.html' %}

{% load crispy_forms_tags %}

{% block title %} 
    Login
{% endblock title %}


{% block body %}
  <div class="container">
      <div class="row">
          <div class="col-md-12">
            <h3 class="col-md-4 offset-md-4 alert alert-success text-center">Login Administrator<hr></h3>
              <form method="POST" class="bootstrap4">
                {% csrf_token %}
                <div class="form-row">
                    <div class="form-group col-md-4 offset-md-4 alert alert-success">
                        {{ form | crispy }}
                        <div class="col-md-6 offset-md-3">
                            <button class="btn btn-success btn-sm btn-block">Login</button>
                        </div>
                    </div>
                    
                </div>
              </form>

          </div>
      </div>
  </div>
{% endblock body %}